@import "compass/css3";
* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.ott-index {
  width: 100%;
  position: absolute;
  top:20px;
  left:0;
}
.ott-panel {
  position: relative;
  display: block;
  cursor: poiner;
  @include border-radius(4px);
}