@import "compass/css3";
.ott-index {
//  width: 100%;
//  position: absolute;
//  top:20px;
//  left:0;
}
.ott-panel {
  position: relative;
  display: block;
  cursor: poiner;
  @include border-radius(4px);
}